.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 10px 5%;
  background: #60889a;
  margin-bottom: 20px;
  border-radius: 20px;
}

.header-container > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: #344a54;
}
