form {
  width: 150px;
  padding-top: 50px;
  color: #344a54;

  display: flex;
  flex-direction: column;
}

.checkBoxes {
  padding-left: 10px;
}
.checkBoxes input {
  margin-bottom: 10px;
}

form > button {
  width: 70%;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #344a54;
  color: #60889a;
  margin-top: 20px;

  justify-self: center;
  align-self: center;
}

label:hover {
  cursor: pointer;
}
