.pagination{
  display: flex;
  justify-content: end;
  column-gap: 20px;
  margin-right: 10px;
}

button {
  width: 60px;
  height: 30px;
  background: #537483;
  color: #344a54;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
}

